:root {
  --colors-white: #ebf5ff;
  --colors-base: #ebf5ff;
  --colors-snow: #e6f0fa;
  --colors-cloud: #dde7f1;
  --colors-lightgray: #cbd6e0;
  --colors-silver: #8d97a1;
  --colors-metal: #7f8993;
  --colors-gray: #76808a;
  --colors-darkgray: #66707b;
  --colors-dimgray: #5a646f;
  --colors-jet: #2e3842;
  --colors-blackcloud: #242e38;
  --colors-blacksnow: #1a242e;
  --colors-carbon: #16202a;
  --colors-black: #000a14;
  --colors-deepblue: #0a85c2;
  --colors-green: #2f8e47;
  --colors-red: #ee2b3e;
  --colors-amber: #fbbc04;
  --colors-purple: #a659a6;
}


[sa-theme-mode="0"] {
  --color-primary: #0075e9;
  --color-primary-ghost: #0075e90f;
  --color-primary-haze: #0075e91f;
  --color-primary-semi: #0075e959;
  --color-primary-overlay: #0075e9a6;
  --color-primary-lighter: #0984ff;
  --color-primary-darker: #0065ca;
  --color-secondary: #e50089;
  --color-secondary-ghost: #e500890f;
  --color-secondary-haze: #e500891f;
  --color-secondary-semi: #e5008959;
  --color-secondary-overlay: #e50089a6;
  --color-secondary-lighter: #ff059b;
  --color-secondary-darker: #c60077;
  --color-accent: #c7ff1d;
  --color-accent-ghost: #c7ff1d0f;
  --color-accent-haze: #c7ff1d1f;
  --color-accent-semi: #c7ff1d59;
  --color-accent-overlay: #c7ff1da6;
  --color-accent-lighter: #cfff3c;
  --color-accent-darker: #bffd00;
  --color-base: #ebf5ff;
  --color-base-ghost: #ebf5ff0f;
  --color-base-haze: #ebf5ff1f;
  --color-base-semi: #ebf5ff59;
  --color-base-overlay: #ebf5ffa6;
  --color-base-lighter: #ffffff;
  --color-base-darker: #cce6ff;
  --color-body: #e6f0fa;
  --color-body-ghost: #e6f0fa0f;
  --color-body-haze: #e6f0fa1f;
  --color-body-semi: #e6f0fa59;
  --color-body-overlay: #e6f0faa6;
  --color-body-lighter: #ffffff;
  --color-body-darker: #cde1f5;
  --color-cloud: #dde7f1;
  --color-cloud-ghost: #dde7f10f;
  --color-cloud-haze: #dde7f11f;
  --color-cloud-semi: #dde7f159;
  --color-cloud-overlay: #dde7f1a6;
  --color-cloud-lighter: #f3f6fa;
  --color-cloud-darker: #c7d8e8;
  --color-line: #cbd6e0;
  --color-line-ghost: #cbd6e00f;
  --color-line-haze: #cbd6e01f;
  --color-line-semi: #cbd6e059;
  --color-line-overlay: #cbd6e0a6;
  --color-line-lighter: #dee5eb;
  --color-line-darker: #b8c7d5;
  --color-aux: #8d97a1;
  --color-aux-ghost: #8d97a10f;
  --color-aux-haze: #8d97a11f;
  --color-aux-semi: #8d97a159;
  --color-aux-overlay: #8d97a1a6;
  --color-aux-lighter: #9ea6af;
  --color-aux-darker: #7c8893;
  --color-cite: #76808a;
  --color-cite-ghost: #76808a0f;
  --color-cite-haze: #76808a1f;
  --color-cite-semi: #76808a59;
  --color-cite-overlay: #76808aa6;
  --color-cite-lighter: #878f98;
  --color-cite-darker: #68717a;
  --color-icon: #66707b;
  --color-icon-ghost: #66707b0f;
  --color-icon-haze: #66707b1f;
  --color-icon-semi: #66707b59;
  --color-icon-overlay: #66707ba6;
  --color-icon-lighter: #747f8c;
  --color-icon-darker: #58616a;
  --color-caption: #5a646f;
  --color-caption-ghost: #5a646f0f;
  --color-caption-haze: #5a646f1f;
  --color-caption-semi: #5a646f59;
  --color-caption-overlay: #5a646fa6;
  --color-caption-lighter: #687380;
  --color-caption-darker: #4c555e;
  --color-head: #2e3842;
  --color-head-ghost: #2e38420f;
  --color-head-haze: #2e38421f;
  --color-head-semi: #2e384259;
  --color-head-overlay: #2e3842a6;
  --color-head-lighter: #3b4754;
  --color-head-darker: #212930;
  --color-text: #16202a;
  --color-text-ghost: #16202a0f;
  --color-text-haze: #16202a1f;
  --color-text-semi: #16202a59;
  --color-text-overlay: #16202aa6;
  --color-text-lighter: #212f3e;
  --color-text-darker: #0b1116;
  --color-white: #ebf5ff;
  --color-white-ghost: #ebf5ff0f;
  --color-white-haze: #ebf5ff1f;
  --color-white-semi: #ebf5ff59;
  --color-white-overlay: #ebf5ffa6;
  --color-white-lighter: #ffffff;
  --color-white-darker: #cce6ff;
  --color-black: #000a14;
  --color-black-ghost: #000a140f;
  --color-black-haze: #000a141f;
  --color-black-semi: #000a1459;
  --color-black-overlay: #000a14a6;
  --color-black-lighter: #001933;
  --color-black-darker: #000000;
  --color-info: #0a85c2;
  --color-info-ghost: #0a85c20f;
  --color-info-haze: #0a85c21f;
  --color-info-semi: #0a85c259;
  --color-info-overlay: #0a85c2a6;
  --color-info-lighter: #0c99df;
  --color-info-darker: #0971a5;
  --color-success: #2f8e47;
  --color-success-ghost: #2f8e470f;
  --color-success-haze: #2f8e471f;
  --color-success-semi: #2f8e4759;
  --color-success-overlay: #2f8e47a6;
  --color-success-lighter: #37a552;
  --color-success-darker: #27773c;
  --color-warning: #ee2b3e;
  --color-warning-ghost: #ee2b3e0f;
  --color-warning-haze: #ee2b3e1f;
  --color-warning-semi: #ee2b3e59;
  --color-warning-overlay: #ee2b3ea6;
  --color-warning-lighter: #f04758;
  --color-warning-darker: #e81327;
  --color-alert: #fbbc04;
  --color-alert-ghost: #fbbc040f;
  --color-alert-haze: #fbbc041f;
  --color-alert-semi: #fbbc0459;
  --color-alert-overlay: #fbbc04a6;
  --color-alert-lighter: #fbc422;
  --color-alert-darker: #dda504;
  --color-notification: #a659a6;
  --color-notification-ghost: #a659a60f;
  --color-notification-haze: #a659a61f;
  --color-notification-semi: #a659a659;
  --color-notification-overlay: #a659a6a6;
  --color-notification-lighter: #b16db1;
  --color-notification-darker: #924e92;
}


[sa-theme-mode="1"] {
  --color-primary: #007bf5;
  --color-primary-ghost: #007bf50f;
  --color-primary-haze: #007bf51f;
  --color-primary-semi: #007bf559;
  --color-primary-overlay: #007bf5a6;
  --color-primary-lighter: #158aff;
  --color-primary-darker: #006bd6;
  --color-secondary: #f10090;
  --color-secondary-ghost: #f100900f;
  --color-secondary-haze: #f100901f;
  --color-secondary-semi: #f1009059;
  --color-secondary-overlay: #f10090a6;
  --color-secondary-lighter: #ff119f;
  --color-secondary-darker: #d3007e;
  --color-accent: #caff29;
  --color-accent-ghost: #caff290f;
  --color-accent-haze: #caff291f;
  --color-accent-semi: #caff2959;
  --color-accent-overlay: #caff29a6;
  --color-accent-lighter: #d2ff48;
  --color-accent-darker: #c2ff0a;
  --color-base: #16202a;
  --color-base-ghost: #16202a0f;
  --color-base-haze: #16202a1f;
  --color-base-semi: #16202a59;
  --color-base-overlay: #16202aa6;
  --color-base-lighter: #212f3e;
  --color-base-darker: #0b1116;
  --color-body: #1a242e;
  --color-body-ghost: #1a242e0f;
  --color-body-haze: #1a242e1f;
  --color-body-semi: #1a242e59;
  --color-body-overlay: #1a242ea6;
  --color-body-lighter: #253342;
  --color-body-darker: #0f151a;
  --color-cloud: #242e38;
  --color-cloud-ghost: #242e380f;
  --color-cloud-haze: #242e381f;
  --color-cloud-semi: #242e3859;
  --color-cloud-overlay: #242e38a6;
  --color-cloud-lighter: #303d4b;
  --color-cloud-darker: #181f25;
  --color-line: #2e3842;
  --color-line-ghost: #2e38420f;
  --color-line-haze: #2e38421f;
  --color-line-semi: #2e384259;
  --color-line-overlay: #2e3842a6;
  --color-line-lighter: #3b4754;
  --color-line-darker: #212930;
  --color-aux: #5a646f;
  --color-aux-ghost: #5a646f0f;
  --color-aux-haze: #5a646f1f;
  --color-aux-semi: #5a646f59;
  --color-aux-overlay: #5a646fa6;
  --color-aux-lighter: #687380;
  --color-aux-darker: #4c555e;
  --color-cite: #76808a;
  --color-cite-ghost: #76808a0f;
  --color-cite-haze: #76808a1f;
  --color-cite-semi: #76808a59;
  --color-cite-overlay: #76808aa6;
  --color-cite-lighter: #878f98;
  --color-cite-darker: #68717a;
  --color-icon: #7f8993;
  --color-icon-ghost: #7f89930f;
  --color-icon-haze: #7f89931f;
  --color-icon-semi: #7f899359;
  --color-icon-overlay: #7f8993a6;
  --color-icon-lighter: #9098a1;
  --color-icon-darker: #6f7a84;
  --color-caption: #8d97a1;
  --color-caption-ghost: #8d97a10f;
  --color-caption-haze: #8d97a11f;
  --color-caption-semi: #8d97a159;
  --color-caption-overlay: #8d97a1a6;
  --color-caption-lighter: #9ea6af;
  --color-caption-darker: #7c8893;
  --color-head: #cbd6e0;
  --color-head-ghost: #cbd6e00f;
  --color-head-haze: #cbd6e01f;
  --color-head-semi: #cbd6e059;
  --color-head-overlay: #cbd6e0a6;
  --color-head-lighter: #dee5eb;
  --color-head-darker: #b8c7d5;
  --color-text: #ebf5ff;
  --color-text-ghost: #ebf5ff0f;
  --color-text-haze: #ebf5ff1f;
  --color-text-semi: #ebf5ff59;
  --color-text-overlay: #ebf5ffa6;
  --color-text-lighter: #ffffff;
  --color-text-darker: #cce6ff;
  --color-white: #ebf5ff;
  --color-white-ghost: #ebf5ff0f;
  --color-white-haze: #ebf5ff1f;
  --color-white-semi: #ebf5ff59;
  --color-white-overlay: #ebf5ffa6;
  --color-white-lighter: #ffffff;
  --color-white-darker: #cce6ff;
  --color-black: #000a14;
  --color-black-ghost: #000a140f;
  --color-black-haze: #000a141f;
  --color-black-semi: #000a1459;
  --color-black-overlay: #000a14a6;
  --color-black-lighter: #001933;
  --color-black-darker: #000000;
  --color-info: #0a85c2;
  --color-info-ghost: #0a85c20f;
  --color-info-haze: #0a85c21f;
  --color-info-semi: #0a85c259;
  --color-info-overlay: #0a85c2a6;
  --color-info-lighter: #0c99df;
  --color-info-darker: #0971a5;
  --color-success: #2f8e47;
  --color-success-ghost: #2f8e470f;
  --color-success-haze: #2f8e471f;
  --color-success-semi: #2f8e4759;
  --color-success-overlay: #2f8e47a6;
  --color-success-lighter: #37a552;
  --color-success-darker: #27773c;
  --color-warning: #ee2b3e;
  --color-warning-ghost: #ee2b3e0f;
  --color-warning-haze: #ee2b3e1f;
  --color-warning-semi: #ee2b3e59;
  --color-warning-overlay: #ee2b3ea6;
  --color-warning-lighter: #f04758;
  --color-warning-darker: #e81327;
  --color-alert: #fbbc04;
  --color-alert-ghost: #fbbc040f;
  --color-alert-haze: #fbbc041f;
  --color-alert-semi: #fbbc0459;
  --color-alert-overlay: #fbbc04a6;
  --color-alert-lighter: #fbc422;
  --color-alert-darker: #dda504;
  --color-notification: #a659a6;
  --color-notification-ghost: #a659a60f;
  --color-notification-haze: #a659a61f;
  --color-notification-semi: #a659a659;
  --color-notification-overlay: #a659a6a6;
  --color-notification-lighter: #b16db1;
  --color-notification-darker: #924e92;
}


