[sa-focus="normal"],
[sa-focus="dark"],
[sa-focus="light"],
[sa-focus="blank"],
[sa-focus="ghost"],
[sa-focus="haze"],
[sa-focus="semi"],
[sa-focus="overlay"],
[sa-focus="inverse"],
[sa-focus="inverse-dark"],
[sa-focus="inverse-light"],
[sa-focus="inverse-ghost"],
[sa-focus="inverse-ghost-self"],
[sa-focus="inverse-haze"],
[sa-focus="inverse-haze-self"],
[sa-focus="inverse-semi"],
[sa-focus="inverse-semi-self"],
[sa-focus="inverse-overlay"],
[sa-focus="inverse-overlay-dark"],
[sa-focus="inverse-overlay-light"] {
  transition:
    color 0.2s ease-in,
    background-color 0.2s ease-out;
}

[sa-focus="normal"]:hover,
[sa-focus="normal"]:focus {
  color: var(--profile-color);
  background-color: inherit;
}

[sa-focus="dark"]:hover,
[sa-focus="dark"]:focus {
  color: var(--profile-color);
  background-color: var(--colors-blacksnow);
}

[sa-focus="light"]:hover,
[sa-focus="light"]:focus {
  color: var(--profile-color);
  background-color: var(--colors-snow);
}

[sa-focus="blank"]:hover,
[sa-focus="blank"]:focus {
  color: var(--profile-color);
  background-color: transparent;
}

[sa-focus="ghost"]:hover,
[sa-focus="ghost"]:focus {
  color: var(--profile-color-ghost);
  background-color: inherit;
}

[sa-focus="haze"]:hover,
[sa-focus="haze"]:focus {
  color: var(--profile-color-haze);
  background-color: inherit;
}

[sa-focus="semi"]:hover,
[sa-focus="semi"]:focus {
  color: var(--profile-color-semi);
  background-color: inherit;
}

[sa-focus="overlay"]:hover,
[sa-focus="overlay"]:focus {
  color: var(--profile-color-overlay);
  background-color: inherit;
}

[sa-focus="inverse"]:hover,
[sa-focus="inverse"]:focus {
  color: inherit;
  background-color: var(--profile-color);
}

[sa-focus="inverse-dark"]:hover,
[sa-focus="inverse-dark"]:focus {
  color: var(--colors-carbon);
  background-color: var(--profile-color);
}

[sa-focus="inverse-light"]:hover,
[sa-focus="inverse-light"]:focus {
  color: var(--colors-white);
  background-color: var(--profile-color);
}

[sa-focus="inverse-ghost"]:hover,
[sa-focus="inverse-ghost"]:focus {
  color: inherit;
  background-color: var(--profile-color-ghost);
}

[sa-focus="inverse-ghost-self"]:hover,
[sa-focus="inverse-ghost-self"]:focus {
  color: var(--profile-color);
  background-color: var(--profile-color-ghost);
}

[sa-focus="inverse-haze"]:hover,
[sa-focus="inverse-haze"]:focus {
  color: inherit;
  background-color: var(--profile-color-haze);
}

[sa-focus="inverse-haze-self"]:hover,
[sa-focus="inverse-haze-self"]:focus {
  color: var(--profile-color);
  background-color: var(--profile-color-haze);
}

[sa-focus="inverse-semi"]:hover,
[sa-focus="inverse-semi"]:focus {
  color: inherit;
  background-color: var(--profile-color-semi);
}

[sa-focus="inverse-semi-self"]:hover,
[sa-focus="inverse-semi-self"]:focus {
  color: var(--profile-color);
  background-color: var(--profile-color-semi);
}

[sa-focus="inverse-overlay"]:hover,
[sa-focus="inverse-overlay"]:focus {
  color: inherit;
  background-color: var(--profile-color-overlay);
}

[sa-focus="inverse-overlay-dark"]:hover,
[sa-focus="inverse-overlay-dark"]:focus {
  color: var(--colors-carbon);
  background-color: var(--profile-color-overlay);
}

[sa-focus="inverse-overlay-light"]:hover,
[sa-focus="inverse-overlay-light"]:focus {
  color: var(--colors-white);
  background-color: var(--profile-color-overlay);
}